@font-face {
    font-family: "peydaMedium";
    src: url(font/Peyda-Medium.ttf);
}
@font-face {
    font-family: "peydaBold";
    src: url(font/Peyda-Bold.ttf);
}
body {
    background: #ffffff;
    margin: 0;
    padding: 0;
    position: relative;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-right: 60px;
    align-items: center;
    text-align: center;
}
::-webkit-scrollbar {
    background-color: none;
    width: 10px;
    margin: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #4a4949; 
    border-radius: 10px;
  }
.scrollProgress{
    background-color: #f5ab35;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    height: 8px;
    animation: scrollProgress linear;
    animation-timeline: scroll();
    z-index: 100;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
@keyframes scrollProgress{
    from{
        width: 0px;
    }
    to{
        width: 100%;
    }
}
header {
    position: fixed;
    display: flex;
    height: 40px;
    background-color: #0000003c;
    border-radius: 15px;
    padding: 10px;
    justify-content: space-around;
    top: 20px;
    right: 10px;
    left: 10px;
    z-index: 1000000000000000000000000002;
}
.logo {
    position: absolute;
    left: -10px;
    top: -15px;
    cursor: pointer;
}

.boxToggle {
    width: 40px;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #0000003c;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    overflow: hidden;
}
.boxToggle button {
    background-color: rgba(240, 255, 255, 0);
    border: 0;
}
.iconToggle {
    scale: 50%;
}
.content {
    background-color: #0000003c;
    cursor: pointer;
    font-family: "peydaMedium";
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 110px;
    position: absolute;
    right: 110px;
    z-index: 1;
    overflow: hidden;
    transition: all .5s ease;
}
.content button{
    background: none;
    cursor: pointer;
    font-family: "peydaMedium";
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 90px;
    position: absolute;
    right: 0;
    display: none;
}
.content button a{
    text-decoration: none;
    color: #000000;
}
.content .downing lord-icon{
    position: absolute;
    right: 20px;
    top: 5px;
}
.content .downing img{
    height: 15px;
    position: absolute;
    left: 30px;
    top: 13px;
    filter: drop-shadow(1px 1px 4px rgb(0, 0, 0));
    transition: all .5s ease;
}
.inContent{
    position: relative;
    top: 42px;
}
.inContent ul{
	position: absolute;
	top: 0;
	right: -4px;
	width: 100%;
}
.inContent ul li {
	position: relative;
	list-style: none;
    right: 0;
	width: 100%;
}
.inContent ul li a{
	position: relative;
	display: block;
	width: 100%;
	display: flex;
    right: -27px;
	text-decoration: none;
	color: #000000;
 }
.inContent ul li .aboutContent{
	position: relative;
	top: 6px;
    margin-right: 2px;
 }
.themeToggle {
    background-color: #0000003c;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 60px;
}
.toggle {
    display: grid;
    place-items: center;
    cursor: pointer;
    line-height: 1;
    scale: 80%;
    position: absolute;
    top: 4.5px;
    left: 4.25px;
}

.input {
    display: none;
}

.icon {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: transform 500ms;
}

.icon--moon {
    transition-delay: 200ms;
}

.icon--sun {
    transform: scale(0);
}

#switch:checked + .icon--moon {
    transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
    transition-delay: 200ms;
    transform: scale(1) rotate(360deg);
}
.menuHeader {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    background-color: #0000003c;
    border-radius: 15px;
    right: 10px;
    bottom: 10px;
    top: 90px;
    overflow: hidden;
    transition: all .5s;
    z-index: 100000000000000000000000001;
}
.menuHeader .divIcon {
    position: relative;
    right: 0;
    width: 100%;
    height: 30px;
    display: block;
}
.divIcon:last-of-type{
    margin-bottom: 25px;
}
.menuHeader .divIcon .aboutIcons {
    position: absolute;
    right: 60px;
    top: 16px;
    font-size: 18px;
    font-family: "peydaMedium";
    text-align: end;
    margin: 0;
    cursor: pointer;
}
.menuHeader .divIcon .icons {
    position: absolute;
    right: 10px;
    margin: 10px 0 10px 10px;
    cursor: pointer;
}
.helpMenu {
    text-align: end;
    color: #0000003c;
}
.backMenuHeader {
    display: none;
    width: 10000px;
    height: 10000px;
    position: fixed;
    top: 0;
    right: -100px;
    background-color: none;
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    transition: all 0.5s;
    z-index: 10000000000000000000000000;
}
.help {
    cursor: pointer;
    position: absolute;
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: #0000003c;
    border-radius: 50%;
    box-shadow: 0 0 20px #0000003c;
    left: 0;
    top: 770%;
}
#checkbox2 {
    display: none;
    }
    .toggle2 {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition-duration: .5s;
    }
    .bars {
    width: 100%;
    height: 6px;
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
    }
    
    #bar5 {
    transition-duration: .8s;
    }
    
    #bar4,#bar6 {
    width: 80%;
    }
    
    #checkbox2:checked + .toggle2 .bars {
    position: absolute;
    transition-duration: .5s;
    }
    
    #checkbox2:checked + .toggle2 #bar5 {
    transform: scaleX(0);
    transition-duration: .5s;
    }
    
    #checkbox2:checked + .toggle2 #bar4 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
    }
    
    #checkbox2:checked + .toggle2 #bar6 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
    }
    
    #checkbox2:checked + .toggle2 {
    transition-duration: .5s;
    transform: rotate(180deg);
    }
.profile{
    position: relative;
    top: 110px;
    width: 90%;
    height: 90px;
    margin: 0 auto;
    background-color: #f5ab36;
    box-shadow: 0px 0px 33px 1px rgba(245, 171, 54, .3);
    border-radius: 50px 50px 50px 50px;
    font-family: "peydaMedium";
}
.score{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffffff;
    width: 110px;
    height: 30%;
    padding-top: 4px;
    border-radius: 30px 5px 5px 5px;
    color: #f5ab35;
    font-size: 14px;
}
.perScore{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #ffffff;
    width: 110px;
    height: 30%;
    padding-top: 4px;
    border-radius: 5px 5px 5px  30px;
    color: blueviolet;
    font-size: 14px;
}
.profileImg{
    top: 10px;
    right: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
}
.profileImg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
}
.profileName{
    position: absolute;
    top: 3px;
    right: 90px;
}
.profileS{
    position: absolute;
    top: 45px;
    right: 92px;
    font-size: 10px;
    cursor: pointer;
}
a{
    color: #000000;
}

h1#Duty{
    top: 140px;
    position: relative;
    font-family: "peydaBold";
    margin: auto;
}
.divDuty{
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: 100%;
    padding: 15px;
    background-color: #C3C3C2;
    top: 150px;
    border-radius: 20px;
}
.duty{
    font-family: "peydaMedium";
    position: relative;
    height: 220px;
    overflow-y: scroll;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 20px;
}
.divDuty p span{
    font-family: "peydaMedium";
    translate: -30px;
}
.divDuty p span:nth-child(1){
    color: #000000;
}
.divDuty p span:nth-child(2){
    color: #0caf2f77;
}
.divDuty select{
    position: relative;
    margin: auto;
    border: none;
    background-color: #f5ab35;
    border-radius: 5px;
    margin-top: 15px;
    font-family: "peydaMedium";
    padding: 5px;
}
ul button{
    background: none;
    border: none;
}
li{
    position: relative;
    right: 0;
    margin-top: 10px;
    text-align: start;
}
li button{
    position: relative;
    top: 5px;
    cursor: pointer;
}
.okLi{
    text-decoration-line: line-through;
    color: #0caf2f77;
}
.okLi button{
    display: none;
}
.divPresent{
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: max-content;
    padding: 15px 15px 45px 15px;
    background-color: #C3C3C2;
    top: 260px;
    text-align: center;
    border-radius: 20px;
}
table {
    position: relative;
    font-family: "peydaMedium";
    width: 90%;
    margin: 0 auto;
  }
  td{
      text-align: center;
    padding: 8px;
    border-radius: 10px;
}
.present{
    color: #ffffff;
    background-color: #0caf2f;
    border: none;
}
.before{
    color: #a80303;
    border: 1px solid #a80303;
}
h1#Present{
    top: 250px;
    position: relative;
    font-family: "peydaBold";
    margin: auto;
}
.divPresent select{
    position: absolute;
    right: 40px;
    top: 230px;
    border: none;
    background-color: #f5ab35;
    border-radius: 5px;
    font-family: "peydaMedium";
    padding: 5px;
    cursor: pointer;
}
.divPresent button{
    position: absolute;
    right: 130px;
    top: 230px;
    border: none;
    background-color: #0caf2f;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
}
.divPresent button p{
    font-family: "peydaMedium";
    color: #ffffff;
    margin: 5px 5px 1px 5px;
}
h1#Activity{
    top: 180px;
    position: relative;
    font-family: "peydaBold";
    margin: auto;
}
.divActivity{
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: max-content;
    padding: 15px;
    background-color: #C3C3C2;
    top: 200px;
    text-align: center;
    border-radius: 20px;
    font-family: "peydaMedium";
}
.divActivity select{
    position: absolute;
    padding: 5px;
    background-color: #f5ab35;
    top: 20px;
    border-radius: 5px;
    font-family: "peydaMedium";
    left: 20px;
    border: 0;
}
.simple-bar-chart {
    margin-top: 50px;
  --line-count: 10;
  --line-color: currentcolor;
  --line-opacity: 0.25;
  --item-gap: 2%;
  --item-default-color: #060606;
  height: 10rem;
  display: grid;
  grid-auto-flow: column;
  gap: var(--item-gap);
  align-items: end;
  padding-inline: var(--item-gap);
  --padding-block: 1.5rem;
  /*space for labels*/
  padding-block: var(--padding-block);
  position: relative;
  isolation: isolate;
}
.simple-bar-chart::after {
  content: "";
  position: absolute;
  inset: var(--padding-block) 0;
  z-index: -1;
  --line-width: 1px;
  --line-spacing: calc(100% / var(--line-count));
  background-image: repeating-linear-gradient(to top, transparent 0 calc(var(--line-spacing) - var(--line-width)), var(--line-color) 0 var(--line-spacing));
  box-shadow: 0 var(--line-width) 0 var(--line-color);
  opacity: var(--line-opacity);
}
.simple-bar-chart>.item {
  height: calc(1% * var(--val));
  background-color: var(--clr, var(--item-default-color));
  position: relative;
  animation: item-height 1s ease forwards;
}
@keyframes item-height {
  from {
    height: 0
  }
}
.simple-bar-chart>.item>* {
  position: absolute;
  text-align: center
}
.simple-bar-chart>.item>.label {
  inset: 100% 0 auto 0
}
.simple-bar-chart>.item>.value {
  inset: auto 0 100% 0
}
.label{
    font-size: 9px;
}